let mapleader=" "

set showmode
set scrolloff=15

" Do incremental searching.
set incsearch

" Don't use Ex mode, use Q for formatting.
map Q gq

Plug 'machakann/vim-highlightedyank' " Highlight copied text
Plug 'tpope/vim-commentary' " Commentary plugin

" Setup clipboard and keep Ctl+c, Ctl+v behavior
set clipboard^=unnamedplus,unnamed
map <C-c> :action $Copy<CR>
map <C-v> <Esc>:action $Paste<CR>

set number relativenumber

"nmap <leader>sr <Action>(ReplaceInPath)
map <leader>ce <Action>(GotoNextError)
map <leader>cE <Action>(GotoNextError)
map <leader>cf <Action>(ReformatCode)
map <leader>ci <Action>(OptimizeImports)

" Navigation → prefix g (goto)
map <leader>gd <Action>(GotoDeclaration)
map <leader>gi <Action>(GotoImplementation)
map <leader>gd <Action>(GotoTypeDeclaration)
map <leader>gf <Action>(GotoFile)
map <leader>gb <Action>(Back)


" Code Editing → prefix c (code/editor)
map <leader>cr <Action>(Replace)
map <leader>cR <Action>(ReplaceInPath)
map <leader>co <Action>(FileStructurePopup)
map <leader>cz <Action>(ToggleDistractionFreeMode)
map <leader>ca <Action>(Annotate)

" Run / Debug → prefix e (execute)
map <leader>er <Action>(Run)
map <leader>ed <Action>(Debug)
map <leader>eq <Action>(Stop)

" File -> prefix f
map <leader>ff <Action>(GotoFile)
map <leader>fr <Action>(RecentFiles)
map <leader>fc <Action>(CloseContent)
map <leader>fo <Action>(CloseAllEditorsButActive)
map <leader>fa <Action>(CloseAllEditors)
map <leader>fs <Action>(Switcher)

nnoremap <TAB> :action NextTab<CR>
nnoremap <S-TAB> :action PreviousTab<CR>

" --- Setup NERDTree ---
set NERDTree

map <C-n> :NERDTreeToggle<CR>
nmap <leader>pt  <Action>(ActivateProjectToolWindow)

" --- End setup NERDTree ---

" --- Setup WhichKey ---
set which-key
" disable the timeout option
set notimeout
" increase the timeoutlen (default: 1000), don't add space around the equal sign
set timeoutlen=5000
" --- End setup WhichKey ---

set easymotion
map <leader>js <Plug>(easymotion-s)
map <leader>jf <Plug>(easymotion-f)

set surround
" --- End Surround plugin ---

" --- Setup Multiple Cursors ---
set multiple-cursors

"--- End Setup Multiple Cursors ---
