" -----------------------------------
" SPC f -> file/project
" SPC b -> buffer/tab
" SPC w -> window/split
" SPC g -> git
" SPC c -> code (refactor, reformat, comment…)
" SPC m -> motion (EasyMotion / AceJump)
" SPC t -> tree/tool windows
" SPC u -> users multiple cursors
" -----------------------------------

let mapleader=" "

set showmode
set scrolloff=15

" Do incremental searching.
set incsearch

" Don't use Ex mode, use Q for formatting.
map Q gq

Plug 'machakann/vim-highlightedyank' " Highlight copied text
Plug 'tpope/vim-commentary' " Commentary plugin

" Setup clipboard and keep Ctl+c, Ctl+v behavior
set clipboard^=unnamedplus,unnamed
nmap <C-c> :action $Copy<CR>
vmap <C-c> :action $Copy<CR>
imap <C-c> <Esc>:action $Copy<CR>a
nmap <C-v> :action $Paste<CR>
vmap <C-v> :action $Paste<CR>
imap <C-v> <Esc>:action $Paste<CR>a

set number relativenumber

nmap <leader>sr <Action>(ReplaceInPath)

map <leader>c, <Action>(GotoNextError)
map <leader>c. <Action>(GotoNextError)

map <leader>cf <Action>(ReformatCode)
map <leader>ci <Action>(OptimizeImports)

map <leader>a <Action>(Annotate)

map <leader>b <Action>(ToggleLineBreakpoint)
map <leader>o <Action>(FileStructurePopup)
map <leader>z <Action>(ToggleDistractionFreeMode)
map <leader>d <Action>(Debug)
map <leader>r <Action>(Run)


map gd <Action>(GotoDeclaration)
map gi <Action>(GotoImplementation)
map gd <Action>(GotoTypeDeclaration)
map gf <Action>(GotoFile)
map gb <Action>(Back)

nnoremap <TAB> :action PreviousTab<CR>
nnoremap <S-TAB> :action NextTab<CR>

" --- Setup NERDTree ---
set NERDTree

map <C-n> :NERDTreeToggle<CR>
nmap <leader>pt  <Action>(ActivateProjectToolWindow)

" --- End setup NERDTree ---

" --- Setup WhichKey ---
set which-key
set notimeout " disable the timeout option
set timeoutlen=5000 " increase the timeoutlen (default: 1000), don't add space around the equal sign
" --- End setup WhichKey ---

set easymotion
map <leader>f <Plug>(easymotion-s)
map <leader>e <Plug>(easymotion-f)

set surround
" --- End Surround plugin ---

" --- Setup Multiple Cursors ---
set multiple-cursors

"--- End Setup Multiple Cursors ---
